<html>
  <head>
  	<title>{{ region }}</title>
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
	<style>
		h1 { padding-top: 30px; text-align: center; font-family: 'Source Sans Pro', sans-serif; }
	</style>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script type="text/javascript">
	  google.load("visualization", "1", {packages:["corechart"]});
	  google.setOnLoadCallback(drawChart);
	  function drawChart() {
		$.getJSON('/region/{{ id }}/indices.json', function(data) {
			if (data.indices.length == 0) return;
			var rows = [['Data', 'Valor']];
			data.indices.forEach(function(el) {
				//if (years.indexOf(el.Ano) == -1) years.push(el.Ano);
				rows.push([el.Mes+'/'+el.Ano, el.Valor]);
			});

			var data = google.visualization.arrayToDataTable(rows);
			var options = { title: '$ médio m2 (zap.com.br)' };

			var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
			chart.draw(data, options);
		})
	  }
	</script>
  </head>
  <body style="padding:0;margin:0">
    {% if full %}
		<h1>{{ region }}</h1>
		<div id="chart_div" style="width: 100%; height: 800px;"></div>
	{% else %}
		<div id="chart_div" style="width: 100%; height: 200px;"></div>
	{% endif %}
  </body>
</html>